@media (width<530px) {

    .container>a.navbar-brand {
        font-size: 13px !important;
    }

    .navbar-toggler-icon {
        width: 0.9em;
    }

    .header-button {
        margin: 0;
    }
}


.bg-dark {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.navbar.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}